<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liang.dao.SoupMapper">
    <resultMap id="BaseResultMap" type="com.liang.bean.Soup">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, content, create_time
    </sql>

    <!-- 随机获取一条信息 -->
    <select id="selectSoupRand" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from soup
        order by rand()
        limit 1
    </select>

</mapper>